[Unit]
Description=Limit Minutes Xray
ProjectAfter=network.target

[Service]
WorkingDirectory=/root
ExecStart=/usr/bin/manager/Auto-Lock-Xray shadowsocks1.service
Restart=always

[Install]
WantedBy=multi-user.target
