cat >/etc/cron.d/xp <<-END
SHELL=/bin/sh
PATH=/usr/bin/manager:/usr/bin/bin:/manager:/bin:/usr/manager:/usr/bin
0 */2 * * * root /usr/bin/manager/xp
*/1 * * * * root /usr/bin/manager/mullog
END

cat >/etc/cron.d/lock-xray-ip <<-END
SHELL=/bin/sh
PATH=/usr/bin/manager:/usr/bin/bin:/manager:/bin:/usr/manager:/usr/bin
*/1 * * * root /usr/bin/manager/lock-xray-ip
END

cat >/etc/cron.d/autobackup <<-END
SHELL=/bin/sh
PATH=/usr/bin/manager:/usr/bin/bin:/manager:/bin:/usr/manager:/usr/bin
*/1 * * * root /usr/bin/manager/autobackup
END

cat >/etc/cron.d/limit-ip <<-END
SHELL=/bin/sh
PATH=/usr/bin/manager:/usr/bin/bin:/manager:/bin:/usr/manager:/usr/bin
*/1 * * * root /usr/bin/manager/limit-ip
END

cat >/etc/cron.d/killtrial <<-END
SHELL=/bin/sh
PATH=/usr/bin/manager:/usr/bin:/manager:/bin:/usr/manager:/usr/bin
*/45 * * * root /usr/bin/manager/killtrial
END


cat >/etc/cron.d/autobackup <<-END
SHELL=/bin/sh
PATH=/usr/bin/manager:/usr/bin/manager:/bin:/manager:/usr/bin:/usr/bin
*/10 * * * * root /usr/bin/manager/clearlog
0 */2 * * * root /usr/bin/manager/backup
0 */2 * * * root /usr/bin/manager/autobackup
0 */2 * * * root /usr/bin/manager/backupvps
0 */2 * * * root /usr/bin/manager/m-backup

END

chmod 644 /root/.profile
cat >/etc/cron.d/daily_reboot <<-END
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
0 5 * * * root /sbin/reboot
END

echo "*/1 * * * * root echo -n > /var/log/nginx/access.log" >/etc/cron.d/log.nginx
echo "*/1 * * * * root echo -n > /var/log/xray/access.log" >>/etc/cron.d/log.xray
service cron restart
cat >/home/daily_reboot <<-END
END

cat >/etc/cron.d/limitssh-ip <<-END
SHELL=/bin/sh
PATH=/usr/bin/manager:/usr/local/manager:/manager:/bin:/usr/manager:/usr/bin
*/1 * * * * root /usr/bin/manager/limitssh-ip
END

cat >/etc/cron.d/lock-xray-ip <<-END
SHELL=/bin/sh
PATH=/usr/bin/manager:/usr/local/manager:/manager:/bin:/usr/manager:/usr/bin
*/1 * * * * root /usr/bin/manager/lock-xray-ip
END
